*.iml
.idea
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/build
/captures
.externalNativeBuild

# Gradle
.gradle
gradlew.bat
build
local.properties
reports

# Android
gen
bin
project.properties
out

# Finder
.DS_Store
